src/*.exe
src/mbitbooks
src/mbitbooksd
src/test_mbitbooks
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.mbitbooks

# Compilation and Qt preprocessor part
*.qm
Makefile
mbitbooks-qt
MBITBOOKS-Qt.app

# Unit-tests
Makefile.test
mbitbooks-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
